
body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 3px rgb(179, 0, 255);
    padding: 20px;
    font-size: 42px;
    color: rgb(179, 0, 255);
}

section {
	background: rgb(149,108,191);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}
h1{
    font-size: 35px;
}

    

img {height: 200px;}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}  
.categoria
{padding-left: 20px 
 padding-right 20px}

 .categoria-videos img {
    opacity: 0.5;
 }